doctype html
head
  meta(charset='UTF-8')
  title Color Tester
  meta(name='robots' content='index, follow')
  meta(name='viewport' content='width=device-width, initial-scale=1')

  link(rel='stylesheet' href='css/index.css')
body
  .controls
    input(type='color' name='color1' value='#ffc65f')
    input(type='color' name='color2' value='#dc534d')
    input(type='color' name='color3' value='#292625')
    input(type='color' name='color4' value='#94c4c8')
    input(type='color' name='color5' value='#f6f2e2')
    input(type='color' name='color6' value='#7e89bd')
  .grid.trace
    .square
    .square
    .square
    .square
      div
    .square
      div
    .square
    .square
    .square
    .square
    .square
      div
      div
    .square
    .square
    .square
    .square
    .square
  p.credits CSS port of 
    a(href='https://twitter.com/JustinMezzell/status/1126168335140286464') Justin Mezzell
    |  original idea
  script(src="./js/index.js")
